body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    flex-direction: column;
    color: #bb93c5;
    background-color: #121212;
    overflow: hidden;
}

.upper-menu {
    width: 100%;
    background-color: transparent;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-bottom: 1%;
}

.upper-menu nav {
    display: flex;
    margin: auto;
    gap: 50px;
    align-self: center;
}

.upper-menu nav a {
    color: #bb93c5;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.upper-menu nav a:hover {
    color: #9860a9;
}

.main-content {
    width: 60%;
    margin: 0px auto 0px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #181818;
    border-radius: 5px;
    overflow-y: auto;
    height: calc(100vh - 65px);
}

.search-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    width: 400px;
    max-width: 90%;
}

.search-menu.visible {
    display: block;
}

.search-menu input {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #575757;
    border-radius: 5px;
    background-color: #1e1a1f;
    color: #bb93c5;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-menu input:focus {
    border-color: #9860a9;
}

.search-results {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

.search-results a {
    display: block;
    padding: 10px;
    background-color: #bb93c5;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.search-results a:hover {
    background-color: #9860a9;
}

pre {
    background-color: #282828;
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
}

code {
    color: #d2b7d9;
}

img {
    width: 70%;
    margin-left: 1%;
    box-shadow: #121212;
}

#walkthroughSearch, #protocolSearch, #toolSearch, #otherSearch {
    width: 98.25%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #575757;
    border-radius: 5px;
    background-color: #1e1a1f;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

#walkthroughSearch:focus, #protocolSearch:focus {
    border-color: #9860a9;
}

/* Post Item */
.post-item {
    margin-bottom: 15px;
    padding-bottom: 5px;
    background-color: #282828;
    border-radius: 5px;
    border: 1px solid grey;
    transition: background-color 0.3s ease;
}

/* Post Title */
.post-title {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Post Tags */
.post-tags {
    margin-left: 5px;
    color: #bb93c5;
    font-size: 14px;
    margin-top: 5px;
}

.menu-button {
    background-color: #a471b2;
    color: white;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    border-radius: 5px; /* Rounded corners for a modern look */
    text-align: center; /* Center the text */
    line-height: 30px; /* Vertically center the text (equal to height) */
    font-size: 15px; /* Font size */
    width: 30px;
    border: transparent;
}

.menu-button:hover {
    background-color: #9860a9; /* Darker shade when hovered */
}

/* Lateral Menu */
.lateral-index {
    position: fixed;
    top: 0;
    left: -1000px; /* Start off-screen */
    width: 300px; /* Adjust the width as needed */
    height: 100%;
    background-color: #333; /* Background color */
    color: white;
    padding: 20px;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the sliding effect */
    z-index: 5;
    overflow: hidden; /* Prevent overflow if the menu slides off-screen */
}

.lateral-index a{
    text-decoration: none;
    color: #bb93c5;
}

/* When the menu is open, move it into view */
.lateral-index.open {
    transform: translateX(1000px); /* Move the menu to the right when it's opened */
}

#indexList {
    margin-top: 15%;
    text-decoration: none;
}

.index-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-toggle{
    text-decoration: none;
    color: #9860a9;
}